header {
	display: flex;
	font-family: Verdana;
  	font-size: 14px;
  	font-weight: bold;
}

.logo {
	display: flex;
	align-items: center;
	flex-grow: 1;
	padding-left: 30px;
	border: 1px solid black;
}

.logo span {
	color: MediumAquamarine;
	padding-left: 30px;
}

header nav {
	padding-right: 40px;
	border: 1px solid black;
}

nav span {
	display: inline-block;
	padding: 20px 10px;
}

a {
	color: black;
}

.content {
	display: flex;
	border: 1px solid black;
}

.large {
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	width: 630px;
}

.main-story {
	border: 1px solid black;
}

.image-content {
	border: 2px solid black;
}